#  List Exercise

## Q1. Create a list of 5 random numbers and print the list

In [32]:
random_numbers = [5, 10, 15, 20, 25]
print("List of random numbers:", random_numbers)

List of random numbers: [5, 10, 15, 20, 25]

## Q2. Insert 3 new values to the list and print the updated list.

In [34]:
random_numbers.extend([30, 35, 40])
print("Updated list:", random_numbers)

Updated list: [5, 10, 15, 20, 25, 30, 35, 40]

## Q3: Try to use a for loop to print each element in the list.

In [37]:
for x in random_numbers:
    print(x)

5
10
15
20
25
30
35
40

# Dictionary Exercise

## Q1: Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively

In [45]:
person = {'name': 'John', 'age': 25, 'address': 'New York'}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

## Q2: Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [47]:
person['phone'] = '1234567890'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

# Set Exercise

# Q1: Create a set with values 1, 2, 3, 4, and 5.

In [57]:
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

# Q2: Add the value 6 to the set created in Q1.

In [61]:
my_set.add(6)
print("Set after adding 6:", my_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

# Remove the value 3 from the set created in Q1.

In [64]:
my_set.discard(3)
print("Set after removing 3:", my_set)

Set after removing 3: {1, 2, 4, 5, 6}

# Tuple Exercise

## Q1: Create a tuple with values 1, 2, 3, and 4.

In [67]:
my_tuple = (1, 2, 3, 4)
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4)

## Q2: Print the length of the tuple created in Q1.