# Exercise_1

In [9]:
print("Name : Mohammed Nabeel")
print("ROLL_No : D42_0036")
print("Email : nabeelcpb12@gmail.com")

Name : Mohammed Nabeel
ROLL_No : D42_0036
Email : nabeelcpb12@gmail.com

# Exercise_2

In [21]:
print("Name : Mohammed Nabeel \nROLL_No : D42_0036 \nEmail : nabeelcpb12@gmail.com" )

Name : Mohammed Nabeel
ROLL_No : D42_0036
Email : nabeelcpb12@gmail.com

# Exercise_3

In [41]:
a=14
b=7
print(f"{a}+{b}={a+b}")
print(f"{a}-{b}={a-b}")
print(f"{a}*{b}={a*b}")
print(f"{a}/{b}={a/b}")

14+7=21
14-7=7
14*7=98
14/7=2.0

# Exercise_4

In [44]:
print("""1
2
3
4
5""")

1
2
3
4
5

# Exercise_5

In [59]:
print(
    '"SDK" stands for "Software Development Kit", \nwhereas "IDE" stands for "Integrated Development Environment".')

"SDK" stands for "Software Development Kit",
whereas "IDE" stands for "Integrated Development Environment".

# Exercise_6

In [89]:
print("python is an \"awesome\" language.") 
print("python\n\t2023") 
print('I\'m from Entri.\b') 
print("\65") 
print("\x65") 
print("Entri", "2023", sep="\n") 
print("Entri", "2023", sep="\b") 
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

# Exercise_7

In [102]:
num=23 
textnum="57" 
decimal=98.3

print("the type of num :" ,type(num))
print("the type of textnum :" ,type(textnum))
print("the type of decimal :" ,type(decimal))

int_textnum= int(textnum)
print(int_textnum)
print(f"the sum of three variable is {num+int_textnum+decimal}")

the type of num : <class 'int'>
the type of textnum : <class 'str'>
the type of decimal : <class 'float'>
57
the sum of three variable is 178.3

# Exercise_8

In [111]:
no_days=365
min_hrs=60
hrs_day=24

print(f"total minutes in a year: {no_days*min_hrs*hrs_day}.")

total minutes in a year: 525600.

# Exercise_9

In [124]:
name = input("enter your name:")
print(f"{name} hi {name}, welcome to python programing.")

enter your name: nabeel

nabeel hi nabeel, welcome to python programing.

# Exercise_10

In [131]:
#conversion of pound into dollar

pounds_amt = int(input("enter the amount in pounds : "))
dollar_amt = pounds_amt * 1.28                 
print(f"you dollar amount is {dollar_amt}")

enter the amount in pounds :  65

you dollar amount is 83.2